@use "../../../../assets/scss/theme.scss";
.confirm-popup-holder {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  cursor: initial;
}

button {
  padding: 8px 30px;
  font-size: 12px;
}

@media (max-width: 500px) {
  .pp-close-btn {
    display: none;
  }
  .confirm-popup-holder {
    padding: 20px;
  }
  .action-holders {
    justify-content: center !important;
  }
}

@media (max-width: 350px) {
  .action-holders button {
    padding: 8px 28px;
  }
}
