<div class="confirm-popup-holder position-relative">
  <button class="pp-close-btn" (click)="closePopup(false)">
    <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </button>

  <h5 class="mb-2">{{data.title}}</h5>
  <p>{{data.desc}}</p>

  <div class="d-flex justify-content-end align-items-center mt-4 action-holders">
    <button class="cancel-btn mr-3" (click)="closePopup(false)">Cancel</button>
    <button class="delete-btn" (click)="closePopup(true)">{{data.btn}}</button>
  </div>
</div>
