$primary: #010329;
$primary-light: #0e1034;
$io-bg: #1a1c3e;
$blue: #0b52bf;
$gray: #91919f;
$gray-lighter: #b8b8c3;
$lime: #00e4d1;
$light-text: #f0f0f0;
$light-bg: #f2f2f4;
$red: #ff3030;

$table-tb-bg: #d0ced6;
$table-header-bg: #f2f2f4;
$table-select-box-bg: #fdfdfd;
$table-body-color: #817e94;
$table-header-color: #120d2b;
$dd-np-btn: #adadba;
