<app-nav-bar [userData]="user" *ngIf="headerData && headerData.nav"></app-nav-bar>

<ng-container *ngIf="headerData  && headerData.header">
  <div class="uppersection bg-main w-100 text-center" [class.overlay]="headerData?.overlay">

    <div class="my-container d-flex justify-content-center align-items-center">
      <div class="section-title inner-page">
        <h1 class="text-white">{{headerData.title}}</h1>
        <p class="text-base mt-3">{{headerData.sub}}</p>
      </div>
    </div>

    <!-- <img *ngIf="user" #uppersec [src]="user.cover_photo ? user.cover_photo : 'assets/images/banner.jpg'"
      class="bg-img load-img" (load)="uppersec.classList.add('loaded')"
      (error)="uppersec.setAttribute('src','assets/images/banner.jpg')" alt="marketplace-coverphoto" /> -->
    <img #uppersec [src]="headerData.bg" class="bg-img load-img" (load)="uppersec.classList.add('loaded')"
      alt="marketplace-coverphoto" />
  </div>
</ng-container>

<router-outlet></router-outlet>
