<app-nav-bar [userData]="user" *ngIf="navbarShow"></app-nav-bar>

<ng-container *ngIf="topSectionShown">
  <div class="uppersection bg-main w-100 text-center">


    <div class="my-container d-flex justify-content-center align-items-center">

      <div class="section-title inner-page" *ngIf="url ==='/school/newspaper' && headerText" @state>
        <h1 class="text-white">{{headerText}}</h1>
        <p class="text-base">Powered by Student News</p>
      </div>

      <div class="section-title inner-page" *ngIf="url ==='/school/my-articles'" @state>
        <h1 class="text-white">My Articles</h1>
      </div>

    </div>

    <img *ngIf="user" #uppersec [src]="user.cover_photo ? user.cover_photo : 'assets/images/banner.jpg'"
      class="bg-img load-img" (load)="uppersec.classList.add('loaded')"
      (error)="uppersec.setAttribute('src','assets/images/banner.jpg')" alt="marketplace-coverphoto" />
  </div>
</ng-container>

<router-outlet></router-outlet>
