<div class="my-container">

  <div class="alert-no-products d-flex align-items-center" *ngIf="products && products.length==0">
    <img src="assets/images/no-data.svg" width="160" height="110" alt="no-data" />
    <div>
      <h4>Sorry! no product found</h4>
      <p class="my-2">Please come again later after purchasing a product.</p>
    </div>
  </div>

  <div class="products-holder" [ngClass]="{'one-itm': products.length==1,'two-itm': products.length==2}"
  *ngIf="products && products.length>0">
    <app-product *ngFor="let p of products" [productData]="p" [editable]="false" [purchasable]="false">
    </app-product>
  </div>

</div>
