<div class="my-container form-holder" #prodcutFormHolder>
  <div class="form-section">
    <h2 class="text-center font-weight-600">
      {{type==='add' ? 'Create a new Article' : 'Edit Article'}}
    </h2>

    <form class="mt-5">

      <p>Work in progress</p>

    </form>

    <div class="actions-holder">
      <button class="blue-btn" (click)="submitForm()">Submit</button>
    </div>

  </div>
</div>


<!-- <div class="inner-io" [class.io-error]="getError(newPostForm.controls.name)">
  <label for="name">Name of item for sale:</label>
  <input id="name" type="text" placeholder="Enter your Name of item for sale" formControlName="name">
  <small class="err-text" *ngIf="getError(newPostForm.controls.name)">Field is
    required</small>
</div>

<div class="each-img select-image" (click)="fileSelector.click()">
  <img src="assets/placeholder-img.svg" width="110" height="58" alt="selectbox-image" />
  <input type="file" hidden #fileSelector (change)="fileSelected($event)" />
</div>
<small class="err-text position-static" *ngIf="noPhotos!=undefined && noPhotos">Product images required</small>
-->

