@use "../../../../assets/scss/theme.scss";

.form-holder {
  padding-bottom: 60px;
}
.err-text {
  position: static;
}

.form-section {
  background: #fff;
  padding: 40px 60px;
  border-radius: 6px;
  box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
  margin-top: -100px;

  .article-image {
    background: theme.$light-text;
    border: 1px solid theme.$light-text;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    &.no-img-err {
      border-color: theme.$red;
    }
  }
  .select-image {
    height: 200px;
  }
  .select-image,
  .selected-image {
    padding: 10px;
    width: 100%;
  }
  .selected-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .update-image-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50px;
    color: #fff;
    background: rgba($color: theme.$primary, $alpha: 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .category-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    font-weight: 500;
  }
  .category-selection > div {
    padding: 10px;
    background: theme.$light-text;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s ease, color 0.2s ease;
  }
  .category-selection > div.selected {
    background: theme.$blue;
    color: #fff;
    cursor: default;
  }

  .actions-holder {
    margin-top: 50px;
    text-align: right;
  }

  @media (max-width: 1000px) {
    .category-selection {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 800px) {
    .category-selection {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 700px) {
    padding: 40px 30px;
    .actions-holder {
      margin-top: 30px;
      .blue-btn {
        width: 100%;
      }
    }
    .category-selection {
      grid-template-columns: 1fr;
    }
  }
}
