<div class="market-place-holder">
  <div class="my-container">

    <div class="category">
      <p class="category-title">Sports</p>

      <div class="articles-grid">

      </div>

    </div>


  </div>

</div>



<!--no products message-->
<!-- <div class="alert-no-products d-flex align-items-center">
      <img src="assets/images/no-data.svg" width="160" height="110" alt="no-data" />
      <div>
        <h4>Sorry! no posts found</h4>
        <p class="my-2">Please come again later or add your own product.</p>
      </div>
    </div> -->
