@use "../../../../assets/scss/theme.scss";

.newspaper-holder {
  padding: 40px 0;
}

.newspaper-holder .my-container > * + * {
  padding-top: 50px;
}

.sort-select-box {
  margin-top: 15px;
  flex: none;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  color: #737579;
  position: relative;
  box-shadow: 0px 4px 25px rgb(0 0 0 / 5%);
  @media (min-width: 500px) {
    max-width: 200px;
    margin-top: 0;
  }
}
.sort-select-box svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: theme.$primary;
}
