/* You can add global styles to this file, and also import other style files */
@use "./assets/scss/theme";
@use "./assets/scss/font";

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
}

body {
  background: theme.$light-bg;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
input {
  transition: border-color 0.2s ease;
}

.pointer {
  cursor: pointer;
}

.bg-main {
  background: theme.$primary;
}
.bg-main-light {
  background: theme.$primary-light;
}

.text-base {
  color: theme.$light-text;
}
.text-lime {
  color: theme.$lime;
}

.text-gray {
  color: theme.$gray;
}

.text-blue {
  color: theme.$blue;
}

.text-purple {
  color: theme.$io-bg;
}

.flex-grow {
  flex-grow: 1;
}

button {
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  transition: border-color 0.2s ease, background 0.1s ease;
  &.blue-btn {
    color: #fff;
    background: theme.$blue;
    &:hover {
      color: theme.$blue;
      border-color: theme.$blue;
      background: transparent;
    }
  }
  &.outline-btn {
    color: theme.$blue;
    border-color: theme.$blue;
    &:hover {
      color: #fff;
      background: theme.$blue;
    }
  }
  &.delete-btn {
    color: #fff;
    background: theme.$red;
    &:hover {
      color: theme.$red;
      background: transparent;
      border-color: theme.$red;
    }
  }
}

.uppersection {
  z-index: -1;
  overflow: hidden;
  position: relative;
  .bg-img {
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    transition: 400ms cubic-bezier(0.235, 0.615, 0.185, 0.995);
  }
  .my-container {
    min-height: 350px;
    padding-top: 40px;
  }
  &.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.45);
    z-index: -1;
  }
}

.load-img {
  opacity: 0;
  transition: 400ms cubic-bezier(0.235, 0.615, 0.185, 0.995);
  &.loaded {
    opacity: 1;
  }
}

.min-h-screen {
  min-height: 100vh;
}

.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}

.section-title {
  padding: 20px 0;
}

.mat-select-arrow-wrapper {
  visibility: hidden;
}
.mat-select-trigger {
  padding: 13px 15px !important;
}

.mat-dialog-container {
  padding: 0 !important;
  background: transparent !important;
  overflow: visible !important;
}
.io-error input,
.io-error .select-box,
.error-io {
  border-color: #f84856 !important;
}

.err-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f84856;
  font-size: 10px;
  @media (min-width: 325px) {
    font-size: 12px;
  }
}

.pp-close-btn {
  padding: 5px !important;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  background: #ededed;
}

.logo {
  display: block;
  width: 80%;
  max-width: 250px;
  margin: auto;
}

.custom-alert {
  justify-content: space-between;
  align-items: center;
  background: #fff3cd;
  border-radius: 5px;
  padding: 8px 12px;
  color: #856404;
  display: none;
  svg {
    width: 35px;
    height: 35px;
    flex: none;
    color: inherit;
  }
  .alert-message {
    padding: 0 20px;
    flex-grow: 1;
  }
  .alert-action {
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    flex: none;
    cursor: pointer;
  }
  &.shown {
    display: flex;
  }
  @media (max-width: 500px) {
    svg {
      display: none;
    }
    .alert-message {
      padding: 0;
    }
    .alert-action {
      font-size: 25px;
    }
  }
}

.alert-no-products {
  margin-top: 40px;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  div {
    padding-left: 30px;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
    div {
      padding: 25px 0 0 0;
    }
  }
}

/*End of GLobal Styles*/

.my-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form-field {
  padding-bottom: 20px;
  position: relative;
  label {
    color: theme.$gray;
    font-weight: 500;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    display: block;
    border: 1px solid rgba($color: theme.$gray, $alpha: 0.3);
    padding: 15px 12px;
    color: theme.$gray;
    border-radius: 5px;
    background: theme.$io-bg;
    &::placeholder {
      color: rgba($color: theme.$gray, $alpha: 0.4);
    }
  }
}

.inner-io {
  position: relative;
  padding-bottom: 20px;
  label,
  p {
    color: #59556a;
    font-weight: 500;
    margin-bottom: 10px;
    span {
      font-size: 12px;
    }
  }
  input[type="text"],
  input[type="number"] {
    width: 100%;
    display: block;
    border: 1px solid rgb(190, 190, 190);
    padding: 12px;
    border-radius: 3px;
    background: #fff;
    color: theme.$io-bg;
    &::placeholder {
      color: rgba($color: theme.$gray, $alpha: 0.4);
    }
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  &.check-boxes {
    padding-top: 32px;
  }
  @media (max-width: 1000px) {
    &.check-boxes {
      padding-top: 0px;
    }
  }
}

.cancel-btn {
  background: #ededed;
  color: #737579;
}

.articles-grid {
  display: grid;
  grid-gap: 15px;
  a {
    text-decoration: none;
    color: #212529;
  }
  @media (min-width: 539px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1023px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Article Card

.article-card {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  .article-image {
    width: 100%;
    height: 200px;
    border-radius: inherit;
    overflow: hidden;
  }
  .article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .article-content {
    display: grid;
    gap: 15px;
    grid-template-rows: auto 1fr auto;
  }
  .article-content > span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .article-publisher {
    font-size: 12px;
    color: theme.$gray;
  }
  .article-publisher .by {
    flex-grow: 1;
  }
  .article-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .article-actions button {
    padding: 8px 30px;
    width: 100%;
    font-size: 15px;
  }
  &:hover {
    box-shadow: 0 20px 74px -24px rgba(0, 0, 0, 0.198);
  }
}
