<section class="bg-main d-flex align-items-center justify-content-center min-h-screen w-100">

  <div class="inner my-container">

    <div class="logo">
      <img src="assets/images/logo.png" width="180" alt="Bizaar-logo" />
    </div>

    <div class="text-center two-grid bg-main-light">

      <div class="lt-side">
        <p class="text-base h4">Set Up Your Company's Marketplace</p>
        <button class="blue-btn" routerLink="/setup-market-place">Begin</button>
      </div>

      <div class="rt-side">
        <p class="text-base h4">Access your company's marketplace</p>
        <button class="blue-btn" (click)="goToMarketPlace()">Go to marketplace</button>
      </div>

    </div>

    <app-marketplace-availability></app-marketplace-availability>

  </div>

</section>
