@use "../../../../assets/scss/theme.scss";

.popup-holder {
  position: relative;
  cursor: default;
  .pp-close-btn {
    background: theme.$red;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 40px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -15px;
  }
  .popup-inner {
    border-radius: 5px;
    padding: 40px;
    background: #fff;
    max-height: 80vh;
    overflow-y: auto;
    .details-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: 0 0 40px 0;
      p {
        word-break: break-all;
      }
    }
    .photos-holder {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 12px;
      margin-bottom: 30px;
      .photo-holder {
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  @media (max-width: 568px) and (orientation: landscape) {
    .popup-inner {
      padding: 30px;
    }
  }
}

@media (max-width: 767px) {
  .popup-holder .popup-inner .photos-holder {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 539px) {
  .popup-holder .popup-inner .details-grid {
    grid-template-columns: 1fr;
  }
  .popup-holder .popup-inner .photos-holder {
    grid-template-columns: repeat(2, 1fr);
  }
  .popup-holder .popup-inner button {
    width: 100%;
  }
  .popup-holder .popup-inner {
    padding: 25px;
  }
}

.select-box {
  flex-grow: 1;
  position: relative;
  padding: 8px;
  img {
    position: absolute;
    right: 10px;
    cursor: pointer;
    &.dd-up {
      top: 30%;
      transform: translateY(-30%);
    }
    &.dd-down {
      top: 70%;
      transform: translateY(-70%);
    }
  }
  @media (max-width: 700px) {
    img {
      &.dd-up {
        top: 20%;
        transform: translateY(-20%);
      }
      &.dd-down {
        top: 80%;
        transform: translateY(-80%);
      }
    }
  }
}

.buy-paypal-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  .total-amt-paypal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pp-total-amt {
      text-align: right;
      font-size: 24px;
    }
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    .total-amt-paypal {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .pp-total-amt {
        text-align: left;
      }
    }
  }
}
